<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="com.example.route.AuthRouteKt" level="ERROR"/>
    <logger name="com.example.route.BillRouteKt" level="ERROR"/>
    <logger name="com.example.route.CafeRouteKt" level="ERROR"/>
    <logger name="com.example.route.CartRouteKt" level="ERROR"/>
    <logger name="com.example.route.CategoryRouteKt" level="ERROR"/>
    <logger name="com.example.route.DrinksRouteKt" level="ERROR"/>
    <logger name="com.example.route.FavoriteRouteKt" level="ERROR"/>
    <logger name="com.example.route.PaymentMethodRouteKt" level="ERROR"/>
    <logger name="com.example.route.ReviewsRouteKt" level="ERROR"/>
    <logger name="com.example.route.UserRouteKt" level="ERROR"/>
</configuration>
